body {
    font-family: Arial, sans-serif;
    background-color: #ffffff !important;
}

.navbar {
    background: linear-gradient(90deg, #48435C, #5A5766);
}

.info-box {
    background-color: white;
    border-left: 5px solid #48435C;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.35);
}
